@model Term_Insurances_AppLication.Models.Policy


@{
    ViewBag.Title = "PolicyDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    #box input[type ="submit"] {
        border: 0;
        background: none;
        display: block;
        text-align: center;
        border: 2px solid #999999;
        padding: 14px 40px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer;
    }

        #box input[type ="submit"]:hover {
            background: #004c8f;
        }
</style>
<h3 class="display-4" style="color:red">Here is a summary of your plan</h3>
<hr />



@{
    double CoverAmount = Model.cover_amount;

    double LAnnualPremium = Math.Round(CoverAmount / 250.6002, 2);
    double LMonthlyPremiuim = Math.Round(LAnnualPremium / 12, 2);

    double ELAnnualPremium = Math.Round(CoverAmount / 220.6002, 2);
    double EMonthlyPremiuim = Math.Round(LAnnualPremium / 12, 2);




}

<div>



    <div class="jumbotron">
        <div style="color:#004c8f">

            <dl class="dl-horizontal">
                <dt>
                    Your Policy ID
                </dt>

                <dd>
                    @ViewBag.POLICY_Id
                </dd>
            </dl>

            <dl class="dl-horizontal">

                <dt>
                    Your Insurance Plan
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.plan_type)
                </dd>

                @*<hr class="my-1">*@
                <br />

                <dt>
                    Your Insurance Cover
                </dt>

                <dd>
                    ₹@Html.DisplayFor(model => model.cover_amount)
                </dd>
                @*<hr class="my-1">*@
                <br />

                @if (Model.plan_type == "Life Option")
                {
                    <dt>
                        Nominee wil receive
                    </dt>
                    <dd>
                        Cover Amount of ₹@Html.DisplayFor(model => model.cover_amount) + additional of ₹@Html.DisplayFor(model => model.cover_amount) incase of death by accident.
                    </dd>
                }
                else
                {
                    <dt>
                        Nominee wil receive
                    </dt>
                    <dd>
                        Cover Amount of ₹@Html.DisplayFor(model => model.cover_amount)
                    </dd>
                }

                @*<hr class="my-1">*@
                <br />
                <dt>
                    Policy Term
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.policy_term) Years
                </dd>
                @*<hr class="my-1">*@
                <br />
                <dt>
                    Premium paying term
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.payment_term) Years
                </dd>

                @*<hr class="my-1">*@
                <br />

                @if (Model.add_on != "null")
                {
                    <dt>
                        Add Ons
                    </dt>


                    <dd>
                        @Html.DisplayFor(model => model.add_on) cover of ₹10,00,000.
                    </dd>
                    @*<hr class="my-1">*@
                    <br />

                    LAnnualPremium = LAnnualPremium + 336;
                    LMonthlyPremiuim = LMonthlyPremiuim + 28;

                    ELAnnualPremium = ELAnnualPremium + 336;
                    EMonthlyPremiuim = EMonthlyPremiuim + 28;

                }

                <dt>
                    Annual Premium Amount
                </dt>

                @if (Model.plan_type == "Life Option")
                {
                    <dd>
                        ₹@LAnnualPremium
                    </dd>
                }
                else
                {
                    <dd>
                        ₹@ELAnnualPremium
                    </dd>
                }
                @*<hr class="my-1">*@
                <br />
                <dt>
                    Monthly Payment Amount
                </dt>

                @if (Model.plan_type == "Life Option")
                {
                    <dd>
                        ₹@LMonthlyPremiuim
                    </dd>
                }
                else
                {
                    <dd>
                        ₹@EMonthlyPremiuim
                    </dd>
                }


            </dl>
         
        </div>
        <div class="form-group">

            <div class="col-md-offset-2 col-md-10" id="box">

                <a class="btn btn-primary" href="@Url.Action("Index","Payment")">Continue to pay</a>

            </div>




        </div>
    </div>
</div>

